<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Learning how to use jupyter notebooks.
- Learn open source tools in data science.
- Learn popular languages in data science.
- Learn commonly used libraries used by Data Scientists.
- Submitting a jupyter notebook peer graded assignment.

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
1. Numpy
1. Scipy
1. Pandas
1. PyTorch

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds)
      
n = 200*60
print(convert(n))

3:20:00

## Author
Morris Kakoa